
$text-white: #fff;
$text-yellow: #FFDF00;
$text-grey: rgb(206, 203, 203);
$border-grey: rgb(179, 174, 174);
$border-yellow: #FBBF2C;

$background-black: #000;
$background-dark: #110C12;
$background-red: red;